<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Album List</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css" th:href="@{/css/mystyle.css}">
	</head>

	<body>
		<div class=" container text-center">

			<div class="row align-items-center  p-3 ">
				<div class="col-lg-10 col-md-10">
					<div class="page-title">
						<div class="title-text text-center">
							<h1>Album List</h1>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
						<a th:if="${userLogged}"  th:href="@{/Logout}" class="btn btn-outline-success p-2">Logout</a>
						<a th:unless="${userLogged}"  th:href="@{/}" class="btn btn-outline-success p-2">Login</a>
				</div>
			</div>
			
		<div class="row align-items-center">
			<div class="col-lg-12 col-md-12">
				<table class="table table-album">
					<thead>
						<tr>
							<th>Icon</th>
							<th>Title</th>
							<th>Creation Date</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="album : ${albums}" th:class="${albumStat.even}? 'even'">
							<td>
								<img class="img-thumbnail" th:src="${album.iconPath}" src="TestImage/Icon1.png">
							</td>
							<td><a href="ImageList.html" th:href="@{/GetImagesOfAlbum(albumId=${album.id})}"><span th:text="${album.title}">Onions</span></a></td>
							<td>
								<p th:text="${album.date}">20-03-2020</p>
							</td>
						</tr>
						<tr class="even">
							<td>
								<img class="img-thumbnail" src="TestImage/Icon1.png">
							</td>
							<td><a href="ImageList.html">Blue Lettuce</a></td>
							<td class="align-middle">
								<p>20-03-2020</p>
							</td>
						</tr>
						<tr>
							<td>
								<img class="img-thumbnail" src="TestImage/Icon1.png">
							</td>
							<td><a href="ImageList.html">Mild Cinnamon</a></td>
							<td>
								<p>20-03-2020</p>
							</td>
						</tr>
						<tr class="even">
							<td>
								<img class="img-thumbnail" src="TestImage/Icon1.png">
							</td>
							<td>
								<a href="ImageList.html">Apples</a>
							</td>
							<td>
								<p>20-03-2020</p>
							</td>
						</tr>
						<tr>
							<td>
								<img class="img-thumbnail" src="TestImage/Icon1.png">
							</td>
							<td><a href="ImageList.html">Oranges</a></td>
							<td>
								<p>20-03-2020</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
	</body>

</html>
