<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">

		<title th:text="${albumId}">Images of default album</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" media="all"
			  href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" media="all"
			  href="css/mystyle.css" th:href="@{/css/mystyle.css}">
		<style>
		</style>
	</head>
	<body>
		<div class=" container text-center">

			<div class="row">
				<div class="col-lg-12 col-md-12">

					<h2>Images of a album</h2>
					<div class='table-responsive'>
						<table class="table gallery-table">

							<tbody >
								<tr th:remove="all-but-first">
									<td th:each="image : ${images}" th:class="${imageStat.even}? 'even'">
										<div class='table-responsive'>
											<table class="table" >
												<tbody>
													<tr>
														<td th:text="${image.title}">Image 1</td>
													</tr>
													<tr>
														<td>
															<a
															   th:href="@{/GetImagesOfAlbum(albumId=${albumId},imageId=${image.id})}">
																<img class="image img-thumbnail" th:src="${image.filePath}"
																	 src="TestImage/casa.jpg">
															</a>
														</td>
													</tr>

												</tbody> 
											</table>
										</div>
									</td>
									<td class="even">
										<div class='table-responsive'>
											<table class="table" >
												<tbody>
													<tr>
														<td>Image 2</td>
													</tr>
													<tr>
														<td>
															<a target="_blank" href="ImageList.html"> 
																<img class="image  img-thumbnail"
																	 src="TestImage/casa.jpg" ></a>
														</td>
													</tr>
												</tbody> 
											</table>
										</div>	
									</td>
									<td >
										<div class='table-responsive'>
											<table class="table" >
												<tbody>
													<tr>
														<td>Image 3</td>
													</tr>
													<tr>
														<td>
															<a target="_blank" href="ImageList.html"> 
																<img class="image img-thumbnail"
																	 src="TestImage/casa.jpg" ></a>
														</td>
													</tr>
												</tbody> 
											</table>
										</div>	
									</td>
									<td class="even">
										<div class='table-responsive'>
											<table class="table" >
												<tbody>
													<tr>
														<td>Image 4</td>
													</tr>
													<tr>
														<td>
															<a target="_blank" href="ImageList.html"> 
																<img class="image  img-thumbnail"
																	 src="TestImage/casa.jpg" ></a>
														</td>
													</tr>
												</tbody> 
											</table>
										</div>	
									</td>
									<td >
										<div class='table-responsive'>
											<table class="table" >
												<tbody>
													<tr>
														<td>Image 5</td>	
													</tr>
													<tr>
														<td>
															<a target="_blank" href="ImageList.html"> 
																<img class="image img-thumbnail"
																	 src="TestImage/casa.jpg" ></a>
														</td>
													</tr>
												</tbody> 
											</table>
										</div>	
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 col-md-12">
					<p class="h6" th:text="${imageSelected.title}">title image
					</p>
				</div>
			</div>	

			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class='table-responsive'>
						<table class="table single-image-table">
							<tbody th:remove="all-but-first">

								<tr>
									<td > 
										<img  class="image img-fluid"th:src="${imageSelected.filePath}"
											 src="TestImage/casa.jpg">
									</td>

									<td>
										<div class="scrollbarContainer1 scrollbar-cyan bordered-cyan">
											<div class="force-overflow">    										
												<div class="comment-Body">
													<p th:each="comment : ${comments}"
													   th:class="${commentStat.even}? 'even'" th:text="${comment.text}">
														comment image selected</p>
												</div>
											</div>
										</div>  
									</td>
								</tr>

								<tr class="even">
									<td>

										<img class="image img-fluid"
											 src="TestImage/casa.jpg">
									</td>
									<td>
										<div class="scrollbarContainer1 scrollbar-cyan bordered-cyan">
											<div class="force-overflow">    										
												<div class="comment-Body">
													text 1<br> text 2<br> text 3<br> text 4<br>
													text 5<br> text 1<br> text 2<br> text 3<br>
													text 4<br> text 5<br>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<br><br><br>
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<form th:action="@{/CreateComment}" method="POST">
						Please use the form to create a new comment: 
						<input type="text" name="comment" required> 
						<input name="imageId" type="hidden" th:value="${chosenImageId}"> 
						<input name="albumId" type="hidden" th:value="${albumId}">
						<input type="submit" name="submit" value="Submit Comment">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

