<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">

	<title>Gallery Image</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css" th:href="@{/css/mystyle.css}">
</head>

<body>
	<div class="container p-3 page-title">
		<div class="title-text text-center">
			<h1>Welcome to Gallery Image</h1>
		</div>
	</div>

	<div class="container p-3 text-center">

		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6">
				<form class="form-signin" action="CheckLogin" method="POST">

					<h1 class="h2 mb-3 font-weight-normal">Please sign in</h1>

					<label for="username" class="m-2">Username:</label>
					<input type="text" name="username" id="username" class="form-control" placeholder="username" required="" autofocus="">

					<label for="inputPassword" class="m-2">Password:</label>
					<input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="Password" required="">
					<div class="m-4">
					</div>
					<button type="submit" class="p-2 btn btn-outline-primary btn-block" value="login"> Log in </button>
				</form>

				<div class="p-3" th:classappend=" not ${RegistrationForm} ? 'btn-visible' : 'btn-hidden'" th:disabled="${RegistrationForm}">
					<a href=" OpenRegistrationForm" th:href="@{/OpenRegistrationForm}" class="p-3 btn btn-outline-success">Create New Account</a>

				</div>
			</div>

			<div class=" p-3 col-lg-6 col-md-6 ">
				<a href="CheckGuest" class="btn btn-outline-success p-4">Continue as Guest</a>
			</div>
		</div>



		<div class="row btn-hidden" th:class=" ${RegistrationForm} ? 'row btn-visible' : 'row btn-hidden'">
			<div class="col-lg-6 col-md-6">
				<form class="form-signin" th:action="@{/Registration}" method="POST">
					<h1 class="h2 mb-3 font-weight-normal">Register Form</h1>

					<div class="form-group">
						<label for="username" class="m-2">Insert your Username:</label> <input type="text" class="form-control" th:class=" ${checkUsername} ? 'form-control is-invalid' : 'form-control'" name="username" required aria-describedby="usernameHelp" placeholder=" Insert username">
						<div class="invalid-feedback">Already existing username, insert another one.</div>
					</div>
					<div class="form-group">
						<label for="password" class="m-2">Password:</label>
						<input type="password" class="form-control" th:class=" ${WrongPasswords} ? 'form-control is-invalid' : 'form-control'" placeholder="Password" name="password" required>
						<div class="invalid-feedback">Please reinsert password.</div>
					</div>
					<div class="form-group">
						<label for="passwordReinserted" class="m-2">Reinsert the Password:</label>
						<input type="password" class="form-control" th:class=" ${WrongPasswords} ? 'form-control is-invalid' : 'form-control'" placeholder="Password" name="passwordReinserted" required>
						<div class="invalid-feedback">Please reinsert password.</div>
					</div>

					<button type="submit" name="submit" value="Submit Registration" class="p-2 btn btn-outline-primary btn-block">Submit</button>
				</form>

			</div>
			<div class="col-lg-6 col-md-6">
			</div>
		</div>
	</div>

</body>

</html>
